@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffe0;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 20px;
  font-family: 'Kiwi Maru', serif;
}

img{
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited{
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 30px;
  width: 50px;
  height: auto;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 16px;
  list-style: none;
  font-family: 'Kiwi Maru', serif;
}

.global-nav li a {
  color: #000000;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
}

.content {
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}

footer small {
  font-size: 12px;
}

index h1{
  font-size: 100px;
  line-height: 1;
  color: #000000;
  font-family: 'Kiwi Maru', serif;
  margin-bottom: 50px;
  border: none;
}

#index .content{
  margin-top: 150px;
}

#index p{
  font-size: 16px;
  color: #000000;
}

.btn a{
  background-color: #ffa500;
  color: #000000;
  font-size: 18px;
  font-family: 'Kiwi Maru', serif;
  width: 150px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #ffa500;
}

.btn a:hover{
  text-decoration: none;
  background-color: #f9e697;
  color: #000000;
}

#index footer{
  width: 960px;
  margin: 150px auto 0 auto;
  text-align: left;
  background-color: transparent;
}

#index{
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#about{
  background-image: url(../images/sub.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#wrap{
  clear: both;
  background-color: #ffffe0;
  margin-top: 220px;
  padding: 35px 0;
}

.main-center{
  width: 940px;
  margin: 0 auto;
}

h1{
  font-family: 'Kiwi Maru', serif;
  font-size: 24px;
}

.icon::before{
  content: "";
  padding-right: 10px;
  border-left: 7px solid #e4ad6d;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

section{
  margin-bottom: 35px;
}

#index #wrap{
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

#product{
  background-image: url(../images/sub.png);
  background-repeat:no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#event{
  background-image: url(../images/sub.png);
  background-repeat:no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

.main{
  width: 700px;
  margin: 0 10px;
  float: left;
}

.sidebar{
  width: 200px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Bitter', serif;
}

a img:hover{
  opacity: 0.8;
}

.sidebar h2{
  margin-bottom: 10px;
}

.sidebar ul{
  font-size: 16px;
  margin-left: 20px;
}

.sidebar ul a{
  color: #333333;
}

#classic{
  background-image: url(../images/sub.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#classic .classic-list li{
  float: left;
  list-style: none;
  margin: 0 30px 15px 0;
}

#classic .classic-list li:nth-child(3h){
  margin-right: 0;
}

@media screen and (max-width:600px){
  /* 画面サイズが600px以下の場合に適用 */

  body{
    font-size: 3.5vw;
  }
  h1{
    font-size: 7.2vw;
  }
  h2{
    font-size: 6vw;
  }
  header{
    width: auto;
    margin: 0 5%;
  }
  .logo{
    float: none;
    margin-top: 60px;
    text-align: center;
  }
  .global-nav{
    float: none;
    margin-top: 40px;
    text-align: center;
  }
  .global-nav li{
    display: inline;
    float: none;
    margin: 0 8px;
  }
  #wrap{
    margin-top: 40px;
    padding: 35px 0 0;
  }
  .content{
    width: 100%;
  }
  .main{
    float: none;
    width: auto;
    margin: 0 5%;
  }
  h2 img{
    max-width: 100%;
  }
  .sidebar{
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 10% 10px;
    background-color: #f7f6f4;
  }
}
